html{
  height: 100%;
}

body{
  height: 100%;
}

#app{
  height: 100%;
}

:root {
  --theme-color1: #0091FF;
  --theme-color2: #395366;
  --theme-color3: #ECECEC;
  --theme-color4: #707070;

  --theme-font1:  "Inter Regular";
  --theme-font2:  "Helvetica Regular";
  --theme-font3:  "Helvetica Bold";
}

/*****/

.modal_header h5{
  font-weight: bold;
  font-family: "Helvetica Bold";
}

.form_table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.form_text{
  font-family: ".SF NS Display Regular";
}

.form_input{
  width: 100%;
}

.form_error{
  color: red;
  font-size: 0.9rem;
}

.form_switch .custom-control-label::before{
  border: none;
  background-color: #E2EAF3;
}

.form_switch.custom-switch .custom-control-label::after{
  background-color: var(--theme-color1);
}

.form_switch.custom-switch .custom-control-input:checked ~ .custom-control-label::before{
  background-color: #B9F4D0;
  border-color: none;
}

.form_switch.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
  background-color: #73D89B;
}

.form_switch.custom-switch .custom-control-input[disabled] ~ .custom-control-label::after{
  background-color: #6a6b6c;
}

.currency_amount{
  font-family: ".SF NS Display Regular";
}

.failed .currency_amount{
  opacity: 0.4;
}

.tx_detail_label{
  color: #395366;
  opacity: 0.6;
}
