html{
  height: 100%;
}

body{
  height: 100%;
}

#app{
  height: 100%;
}

:root {
  --theme-color1: #0091FF;
  --theme-color2: #395366;
  --theme-color3: #ECECEC;
  --theme-color4: #707070;
}

/*****/

.failed .currency_amount{
  opacity: 0.4;
}

.tx_detail_label{
  color: #395366;
  opacity: 0.6;
}
